API_KEY=sk_spuer_moomoo
PORT=5004

DEFAULT_VOICE=en-US-AvaNeural
DEFAULT_RESPONSE_FORMAT=mp3
DEFAULT_SPEED=1.25

DEFAULT_LANGUAGE=zh-cn

REQUIRE_API_KEY=True

REMOVE_FILTER=False

EXPAND_API=True

DETAILED_ERROR_LOGGING=True
